aniso8601==8.1.0
click==7.1.2
Flask==1.1.2
Flask-Cors==3.0.9
Flask-RESTful==0.3.8
Flask-SQLAlchemy==2.4.4
gunicorn==20.0.4
itsdangerous==1.1.0
Jinja2==2.11.2
MarkupSafe==1.1.1
PyMySQL==0.10.1
pytz==2020.4
six==1.15.0
SQLAlchemy==1.3.20
Werkzeug==1.0.1

user：
can_post:可以发表文章
can_rely:可以回复
2：管理者 
0：用户 
1：医生

reply：
blong_post_id：跟在发表评论的下面


post：
type：不知道是什么

article_source
type：用于区分区域

